
td {
 color : #ffffff;
 font-family : verdana,geneva,arial,helevtica,sans-serif;
 font-size : 12px;
 font-weight : normal;
 text-decoration: none;
 FONT-STYLE: normal;
 hover:text-decoration: underline;

}

  A.t {
  COLOR: #FFFFFF;
  FONT-FAMILY: verdana,geneva,arial,helevtica,sans-serif;
  FONT-SIZE: 14px;
  LINE-HEIGHT: 14px;
  FONT-STYLE: normal;
  FONT-WEIGHT: normal;
  text-decoration: none;
}

  A.x {
  COLOR: #000000;
  FONT-FAMILY: verdana,geneva,arial,helevtica,sans-serif;
  FONT-SIZE: 14px;
  LINE-HEIGHT: 14px;
  FONT-STYLE: normal;
  FONT-WEIGHT: normal;
  text-decoration: none;
}

div.qt{
	background-color:#555555; 
	border: #929292; 
	border-style: solid; 
	border-left-width: 1px; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	PADDING-BOTTOM: 5px; 
	PADDING-LEFT: 5px; 
	PADDING-TOP: 5px; 
	PADDING-RIGHT: 5px;
}

A.t:visited { color: #FFFFFF }
A.t:hover	  { text-decoration: underline; }
A.x:hover	  { text-decoration: underline; }

BODY {
margin:0;

}
