 body{
		   margin:40px auto;
		   max-width:650px;
		   line-height:1.6;
		   font-size:18px;
		   color:#444;
		   padding:0 10px;
		   background: #1c0e01;
		   	  
	   }
	   h1,h2,h3,p{
		   line-height:1.2;
		   color: #FFC40C;
	   }
	   
	   a{
		   color: pink;
	   }
	   
	   li{
		   color: gray;
	   }

img {
  margin: auto;
  display: block;
}
