html {
	background: white;
	background-image: url("bgchinese.gif");
	background-image: url("AdobeStock_175781915-e1544737535358.jpeg");
	background-repeat: repeat-all;
}

article .harvard-ref {
  color: lightslategrey;
}
